In [27]:
import json
import pandas as pd
import time
#from faker import Factory,Faker
import numpy as np

In [28]:
pd.read_json("WorkItemsBP.json").head()

,@odata.context,value
0,https://analytics.dev.azure.com/bp-people-cult...,"{'WorkItemId': 12794, 'LeadTimeDays': 4.025381..."
1,https://analytics.dev.azure.com/bp-people-cult...,"{'WorkItemId': 12793, 'LeadTimeDays': 4.025439..."
2,https://analytics.dev.azure.com/bp-people-cult...,"{'WorkItemId': 12792, 'LeadTimeDays': 4.025590..."
3,https://analytics.dev.azure.com/bp-people-cult...,"{'WorkItemId': 13075, 'LeadTimeDays': 0.002592..."
4,https://analytics.dev.azure.com/bp-people-cult...,"{'WorkItemId': 13077, 'LeadTimeDays': 0.001828..."

In [29]:
import json
# load data using Python JSON module
with open('WorkItemsBP.json','r') as f:
    data = json.loads(f.read())
# Flatten data
df_nested_list = pd.json_normalize(data, record_path =['value'])

In [30]:
df_nested_list.info

<bound method DataFrame.info of     WorkItemId  LeadTimeDays  CycleTimeDays  CompletedDateSK  \
0        12794      4.025382       4.022234         20210726
1        12793      4.025440       3.760926         20210726
2        12792      4.025590       3.760822         20210726
3        13075      0.002593       0.000000         20210727
4        13077      0.001829       0.000000         20210727
5        13079      0.001088       0.000000         20210727
6        13157      0.000463       0.000000         20210728
7        14360      0.000023       0.000000         20210804
8        14358      0.000324       0.000000         20210804
9        14359      0.000174       0.000000         20210804
10       14361      0.000810       0.000000         20210804
11       14448      0.000012       0.000000         20210809
12       12988     13.967662      13.967616         20210809
13       13163     11.841019       4.809086         20210809
14       13156     11.851887       0.000000         20210809
15       12791     17.997199      14.000139         20210809
16       14164     21.993009      19.002257         20210825
17       14416     19.001748       0.000000         20210825
18       14165     21.990729       0.000023         20210825
19       15139      0.000035       0.000012         20210826
20       15140      0.994641       0.000000         20210827

                                                Title          WorkItemType  \
0                        Kick off and meetings booked  Product Backlog Item
1                            Power BI intro with Amit  Product Backlog Item
2                               ADO intro with Neeraj  Product Backlog Item
3             ADO Transition - ADD Report Explanation  Product Backlog Item
4   ADO Transition - Connectivity to ADO from Powe...  Product Backlog Item
5               Extracting data from ADO with Anirudh  Product Backlog Item
6                                           EPCs view                  Task
7                                     Add data to ADO                  Task
8                   Create AWS environment outside BP                  Task
9                               Create ADO outside BP                  Task
10          Extract data from ADO using o data query                   Task
11                                       Initial list                  Task
12                             Experimenting with ADO  Product Backlog Item
13                           Schedule a Sprint Review  Product Backlog Item
14                             Dave to speak to Wendy                  Task
15                       Agree handover plan with EPC  Product Backlog Item
16  Establish that we can export the data that we ...  Product Backlog Item
17                     be able to Convert Json to CSV                  Task
18                         create a secure teams site                  Task
19                               Present sandbox data                  Task
20     Present as a bubble chart with different sizes                  Task

                 CreatedDate State  Priority TagNames
0   2021-07-22T08:43:54.767Z  Done         4     None
1    2021-07-22T08:43:26.12Z  Done         4     None
2    2021-07-22T08:43:05.47Z  Done         4     None
3   2021-07-27T13:44:52.807Z  Done         4     None
4    2021-07-27T13:49:00.82Z  Done         4     None
5   2021-07-27T13:52:45.833Z  Done         4     None
6   2021-07-28T12:10:49.833Z  Done         4     None
7   2021-08-04T13:12:35.777Z  Done         4     None
8    2021-08-04T13:12:13.03Z  Done         4     None
9   2021-08-04T13:12:25.157Z  Done         4     None
10  2021-08-04T13:13:04.673Z  Done         4     None
11  2021-08-09T08:35:33.433Z  Done         4     None
12  2021-07-26T09:22:32.563Z  Done         4     None
13   2021-07-28T12:25:00.88Z  Done         4     None
14   2021-07-28T12:10:30.34Z  Done         4     None
15   2021-07-22T08:41:43.83Z  Done         4     None
16  2021-08-03T08:48:41.083Z  Done         4     None
17  2021-08-06T08:36:09.193Z  Done         4     None
18  2021-08-03T08:52:04.613Z  Done         4     None
19  2021-08-26T08:45:15.263Z  Done         4     None
20   2021-08-26T08:45:48.97Z  Done         4     None  >

In [31]:
df_nested_list.dtypes

WorkItemId           int64
LeadTimeDays       float64
CycleTimeDays      float64
CompletedDateSK      int64
Title               object
WorkItemType        object
CreatedDate         object
State               object
Priority             int64
TagNames            object
dtype: object

In [32]:
from datetime import datetime

In [33]:
df_nested_list['CompletedDateSK'] = pd.to_datetime(df_nested_list['CompletedDateSK'], format='%Y%m%d')
df_nested_list.dtypes

WorkItemId                  int64
LeadTimeDays              float64
CycleTimeDays             float64
CompletedDateSK    datetime64[ns]
Title                      object
WorkItemType               object
CreatedDate                object
State                      object
Priority                    int64
TagNames                   object
dtype: object

In [34]:
df_nested_list.head()

,WorkItemId,LeadTimeDays,CycleTimeDays,CompletedDateSK,Title,WorkItemType,CreatedDate,State,Priority,TagNames
0,12794,4.025382,4.022234,2021-07-26,Kick off and meetings booked,Product Backlog Item,2021-07-22T08:43:54.767Z,Done,4,None
1,12793,4.025440,3.760926,2021-07-26,Power BI intro with Amit,Product Backlog Item,2021-07-22T08:43:26.12Z,Done,4,None
2,12792,4.025590,3.760822,2021-07-26,ADO intro with Neeraj,Product Backlog Item,2021-07-22T08:43:05.47Z,Done,4,None
3,13075,0.002593,0.000000,2021-07-27,ADO Transition - ADD Report Explanation,Product Backlog Item,2021-07-27T13:44:52.807Z,Done,4,None
4,13077,0.001829,0.000000,2021-07-27,ADO Transition - Connectivity to ADO from Powe...,Product Backlog Item,2021-07-27T13:49:00.82Z,Done,4,None

In [35]:
df_nested_list['CreatedDate'] = pd.to_datetime(df_nested_list['CreatedDate'])

In [36]:
df_nested_list['StartDate'] = df_nested_list['CreatedDate'].dt.date

In [37]:
df_nested_list = df_nested_list.drop('CreatedDate', axis = 1)

In [38]:
df_nested_list.head()

,WorkItemId,LeadTimeDays,CycleTimeDays,CompletedDateSK,Title,WorkItemType,State,Priority,TagNames,StartDate
0,12794,4.025382,4.022234,2021-07-26,Kick off and meetings booked,Product Backlog Item,Done,4,None,2021-07-22
1,12793,4.025440,3.760926,2021-07-26,Power BI intro with Amit,Product Backlog Item,Done,4,None,2021-07-22
2,12792,4.025590,3.760822,2021-07-26,ADO intro with Neeraj,Product Backlog Item,Done,4,None,2021-07-22
3,13075,0.002593,0.000000,2021-07-27,ADO Transition - ADD Report Explanation,Product Backlog Item,Done,4,None,2021-07-27
4,13077,0.001829,0.000000,2021-07-27,ADO Transition - Connectivity to ADO from Powe...,Product Backlog Item,Done,4,None,2021-07-27

In [21]:
df_nested_list['CreatedDateNew'] = pd.to_datetime(df_nested_list.CreatedDateNew).dt.tz_localize(None)

In [22]:
df_nested_list.dtypes

WorkItemId                       int64
LeadTimeDays                   float64
CycleTimeDays                  float64
CompletedDateSK         datetime64[ns]
Title                           object
WorkItemType                    object
CreatedDate        datetime64[ns, UTC]
State                           object
Priority                         int64
TagNames                        object
CreatedDateNew          datetime64[ns]
dtype: object

In [23]:
df_nested_list.to_csv("your_bp1.csv")